* {
    margin: 0;
    padding: 0%;
    background-color: rgb(243, 244, 245);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text {
    color: brown;
}

img {
    height: 30px;
}